---
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
AccessModifierOffset: -4
AlignConsecutiveAssignments:
  Enabled: true
BinPackParameters: false
DerivePointerAlignment: false
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^".*"'            # Project headers
    Priority: 1
  - Regex: '^<catch2/'
    Priority: 2
  - Regex: '^<.*'              # System and third-party headers
    Priority: 3
PackConstructorInitializers: CurrentLine
PointerAlignment: Left
SortIncludes: CaseSensitive
